In [6]:
L3 = [23,34,5,6,9,23,0,4,56,23,3,4]
L1 = [23,45,67,98,34,12,9,2,3,5,9]

In [7]:
L3.extend(L1)

In [8]:
L3

[23,
 34,
 5,
 6,
 9,
 23,
 0,
 4,
 56,
 23,
 3,
 4,
 23,
 45,
 67,
 98,
 34,
 12,
 9,
 2,
 3,
 5,
 9]

In [9]:
List8 =[24,65,98,12,31,[9,8,7,6],98,56,43,1,2,3,4]

In [11]:
List8[5][1]

8

In [ ]:
 My_tuple = (4, 2, 3, [6, 5]), can we change 6 with 9? If yes then 
change it using python script and if no then why?

In [12]:
My_tuple = (4, 2, 3, [6, 5])

In [14]:
My_tuple[3][0] = 9

In [15]:
My_tuple

(4, 2, 3, [9, 5])

In [16]:
# List1 = [1,2,3,1,2,3], convert given list in to set.

In [21]:
List1 = [1,2,3,1,2]

In [22]:
s1 = set(List1)

In [23]:
s1

{1, 2, 3}

In [24]:
#Dictionary -> Unordered 
# element -> Key / value

In [25]:
d1 = {}

In [26]:
type(d1)

dict

In [39]:
d1 = {1 : 1, 2 : 4, 3 : 4,'k1' : 90,(1,2,3):12,1 : 11,'k2':[1,2,3,4]}

In [40]:
print(d1)

{1: 11, 2: 4, 3: 4, 'k1': 90, (1, 2, 3): 12, 'k2': [1, 2, 3, 4]}

In [37]:
# Key -> Immutable, Unique

# value ->

In [41]:
d1['k1']

90

In [42]:
d1['k1'] = 190

In [43]:
d1

{1: 11, 2: 4, 3: 4, 'k1': 190, (1, 2, 3): 12, 'k2': [1, 2, 3, 4]}

In [44]:
d1['key'] = 'Hello'

In [45]:
d1

{1: 11,
 2: 4,
 3: 4,
 'k1': 190,
 (1, 2, 3): 12,
 'k2': [1, 2, 3, 4],
 'key': 'Hello'}

In [47]:
d1[21]

KeyError: 21

In [51]:
d1.get(11,123)

123

In [52]:
d2 = {'k1':12,'k2':24,'k3':36}

In [53]:
d1.update(d2)

In [54]:
d1

{1: 11,
 2: 4,
 3: 4,
 'k1': 12,
 (1, 2, 3): 12,
 'k2': 24,
 'key': 'Hello',
 'k3': 36}

In [55]:
d1.items()

dict_items([(1, 11), (2, 4), (3, 4), ('k1', 12), ((1, 2, 3), 12), ('k2', 24), ('key', 'Hello'), ('k3', 36)])

In [56]:
d1.keys()

dict_keys([1, 2, 3, 'k1', (1, 2, 3), 'k2', 'key', 'k3'])

In [57]:
d1.values()

dict_values([11, 4, 4, 12, 12, 24, 'Hello', 36])

In [58]:
d1.pop('k1')

12

In [59]:
d1

{1: 11, 2: 4, 3: 4, (1, 2, 3): 12, 'k2': 24, 'key': 'Hello', 'k3': 36}

In [60]:
d1.popitem()

('k3', 36)

In [61]:
d3 = {3 : {1 : 1, 2 : 4, 3 : 9}}

In [64]:
d3[3][3]

9

In [65]:
# Conditional statement

In [66]:
# if statement

if test_expression:
    body

In [70]:
num = 12

if num > 0:
    
    print("Positive")
    
print("Hey! I am not indented")

Positive
Hey! I am not indented

In [71]:
# if...else statement

In [75]:
num = -12

if num > 0:
    print("Postive")
else:
    print("Negative")
    
print("Hey! I am not indented")

Negative
Hey! I am not indented