___

<a href='https://www.growingseedtech.com'><img src='https://growingseedtech.com/images/logo.png'/></a>
___
<center><em>Content Copyright by GrowingSeed Technologies</em></center>

# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: Integers are numbers without decimal point it can be either negative or positive. 

Strings: Strings are always written in " " mark and are immutable in nature 

Lists:  List can contain different types of elements in it. l =[1,2,3]

Tuples: Tuples are immutable data types with a collection of different types of data

Dictionaries: Dictionaries are key value pairs collection and their symbole is : { }

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) 44
    
    What is the value of the expression 4 * 6 + 5   29
    
    What is the value of the expression 4 + 6 * 5   34

In [1]:
Sum = 4*(6+5)
print(Sum)

44

In [2]:
sum = 4*6+5
print(sum)

29

In [3]:
sum = 4+6*5
print(sum)

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [4]:
type(3+1.5+4)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root: **

In [ ]:
# Square:  **

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [26]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [48]:
s ='hello'
# Reverse the string using slicing
s[-5:-1]

'hell'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [40]:
s ='hello'
# Print out the 'o'

# Method 1: 
s[4]

'o'

In [44]:
# Method 2:

s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [52]:
# Method 1:
l =[0]*3
l

[0, 0, 0]

In [53]:
# Method 2:
l =[0,0,0]
l

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [57]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [58]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [65]:
d = {'simple_key':'hello'}
# Grab 'hello'

KeyError: 1

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

Can you sort a dictionary? Why or why not?<br><br>

## Tuples

What is the major difference between tuples and lists?<br><br>
in tuples the element are enclosed by ()
in list the element are enclosed by []

How do you create a tuple?<br><br>
 t= ("Left", "center", "rignt")

## Sets

What is unique about a set?<br><br>
It contians unique elements in it.

Use a set to find the unique values of the list below:

In [76]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
list5.sort()
list5

[1, 2, 2, 2, 3, 3, 4, 4, 11, 22, 33]

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [66]:
# Answer before running cell
2 > 3   :False

False

In [69]:
# Answer before running cell
3 <= 2   : False

SyntaxError: illegal target for annotation (1713604430.py, line 2)

In [ ]:
# Answer before running cell
3 == 2.0  : False

In [ ]:
# Answer before running cell
3.0 == 3   : True

In [71]:
# Answer before running cell
4**0.5 != 2  : False

SyntaxError: illegal target for annotation (2452228354.py, line 2)

Final Question: What is the boolean output of the cell block below?

In [73]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

SyntaxError: invalid syntax (1407681944.py, line 6)

In [ ]:
"false"